{% extends "admin.html" %}
{% block admin_stat %}
    {% if buckets %}
        <div class="row table-responsive" style="box-shadow: 2px 2px 2px grey;">
          <h4 style="text-align: center;">Indexes</h4>
          <table class="table" style="text-align: center;">
            <thead>
              <tr>
                <th style="text-align: center;">Index</th>
                <th style="text-align: center;">Number documents</th>
              </tr>
            </thead>
            <tbody>
            {% for data in buckets %}
              <tr>
                <td>{{data.key}}</td>
                <td>{{data.doc_count}}</td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
    {% endif %}
{% endblock %}