<!-- This loads of all of files that you call below from your 'static' folder -->
<!--The static folder consists of your bootstrap files (.css, .js, fonts, etc)-->
<!--When you load the static folders is calls all those folders in the static files without having to code each one in individually-->

<html>
  <head>
        <!--This is the meta information which is good for SEO-->
  	    <meta charset="utf-8">
  	    <!--Add keywords that describe your project between the quotation marks. This helps search engines find and index your content-->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/static/css/bootstrap.css" type="text/css" >
        <link rel="stylesheet" href="/static/css/bootstrap-theme.css" type="text/css" >
        <title>Seman</title>
  </head>
  <body>
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/home">Seman</a>
                </div>
                <ul class="nav navbar-nav">
                    <li><a href="/">API</a></li>
                  <li><a href="/getIndexes">Indexes</a></li>
                </ul>
            </div>
        </nav>
        <div class="container">
            <hr>
            <div class="row" style="margin-top:4%; margin-bottom: 2%">
                <h2>Welcome to your semantic annotator tool </h2>
            </div>
            <div class="row">
                {% block content %}{% endblock %}
                <hr>
            </div>
            <div class="row">
                {% block result %}{% endblock %}
            </div>
        </div>
        <script src="/static/js/jquery.js"></script>
        <script src="/static/js/bootstrap.js"></script>
  </body>
</html>